section#category {
  background: #fff;
  padding: 10px 0 25px;
  .container {
    h3.section-title {
      font-family: "Roboto", sans-serif;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      margin-bottom: 55px;
      color: #333;
    }
    .category-links {
      max-width: 905px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      a {
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        color: #333;
        font-size: 16px;
      }
      .shop-link {
        margin-right: 80px;
        display: block;
      }
      .navitem-link {
        margin-right: 75px;
        display: inline-block;
      }
      .about-link {
        margin-right: 120px;
      }
      .blog-link {
        margin-right: 115px;
      }
    }
  }
}
