#header-promo {
  background: #333;
  padding: 10px 0;
  .container {
    p.promo-text {
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      text-align: center;
      color: #fff;
    }
  }
}
